body {
    padding: 0;
    margin: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#gameframe {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
}

@font-face {
    font-family: Pixeled;
    src: url(fonts/Pixeled.ttf);
}

@font-face {
    font-family: orange-kid;
    src: url(fonts/orange-kid.ttf);
}

@font-face {
    font-family: smallest-pixel-7;
    src: url(fonts/smallest-pixel-7-spacing.otf);
}

#wrapper {
    width: 1024;
    height: 576px;
    position: relative;
}

#container {
    position: relative;
    width: 1024;
    height: 576px;
    background-color: grey;
    margin: 0;
    background-image: url('./images/room1.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


#player, #shadow {
    width: 120px;
    height: 160px;
    position: absolute;
    top: 100px;
    left: 200px;
    transition: left 1s linear, top 1s linear;
    background-image: url('./images/cat2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#shadow {
    opacity: 0;
    transition: left 1s linear, top 1s linear, background 5s linear;
    margin-top: -779px;
    margin-left: -1289px;
    width: 2940px;
    height: 1648px;
    background-image: url('./images/Shadow1.png');
    pointer-events: none;
}

#sink {
    top: 58px;
    left: 3px;
}

#socks {
    top: 114px;
    left: 190px;
}

#bed {
    top: 95px;
    left: 106px;
}

#kitchen {
    top: 9px;
    left: 151px;
}

.furniture {
    position: absolute;
    zoom: 4;
}

#teethButton {
    top: 90px;
    left: 0px;
}

#socksButton {
    top: 327px;
    left: 730px;
}

.interactButton {
    z-index: 1;
    font-size: 30px;
    width: 204px;
    height: 120px;
    position: absolute;

    display: none;
    background-color: Transparent;
    background-image: url('./images/bubble.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding-bottom: 25px;
    cursor: pointer;
    font-family: smallest-pixel-7;
}